body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.page-header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #333;  /* Dark background for the header */
  color: white;  /* White text color */
  font-size: 24px;  /* Larger text size for visibility */
  position: fixed;  /* Make the header fixed at the top */
  top: 0;
  left: 0;
  z-index: 1000;  /* Ensures the header is above all other content */
}

.container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjusted to fill the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;  /* Added padding to prevent overlap with the fixed header */
}

.circle {
  width: 160vh; /* Your specified size */
  height: 80vh; /* Oval shape */
  border-radius: 50%;
  background: url('./images/landing_image.png') no-repeat center center;
  background-size: cover;
  position: absolute;
}

.circle-nav {
  position: absolute;
  width: 100%;
  height: 100%;
}

.link {
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  position: fixed;
}

/* Link positioning and colors as specified */
.link:nth-child(1) { top: 75px; left: 10px; background-color: blue; color: white; }
.link:nth-child(2) { top: 75px; right: 10px; background-color: red; color: white; }
.link:nth-child(3) { bottom: 10px; left: 10px; background-color: red; color: white; }
.link:nth-child(4) { bottom: 10px; right: 10px; background-color: blue; color: white; }
.link:nth-child(5) { top: 90px; right: 50%; transform: translateX(50%); background-color: white; color: red; }
